@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import './styles/variables.css';

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: var(--bg-main);
  scrollbar-gutter: stable;
}

body {
  min-height: 720px;
  margin: 0;
  font-family:
    var(--font-main);
  letter-spacing: -0.01em;
  background: var(--bg-main);
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

button,
input {
  font: inherit;
}

#root {
  min-height: 100vh;
  overflow: visible;
}
